.cards {
    width: 100%;
    padding-block: 90px;
    padding-inline: 7%;
    background-color: #F8FAFC;
}

.cards-header {
    text-align: center;
    margin-bottom: 60px;
}

.cards-header h2 {
    font-size: 42px;
    color: #0F172A;
    margin-bottom: 10px;
}

.cards-header p {
    font-size: 18px;
    color: #64748B;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

/* Card */
.card {
    width: 330px;
    min-height: 150px;
    background-color: white;
    border-radius: 22px;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    gap: 18px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.08);
}

/* Ícone */
.card-icon {
    min-width: 60px;
    min-height: 60px;
    border-radius: 18px;
    background-color: #EFF6FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #2563EB;
}

/* txt */
.card-text h3 {
    font-size: 19px;
    color: #0F172A;
    margin-bottom: 10px;
}

.card-text p {
    font-size: 15px;
    line-height: 26px;
    color: #64748B;
}

/* Seta */
.arrow {
    font-size: 20px;
    color: #2563EB;
}

/* Benefícios */
.benefits {
    width: 100%;
}

.benefits-header {
    text-align: center;
    margin-bottom: 60px;
}

.benefits-header h2 {
    font-size: 40px;
    color: #0F172A;
    margin-bottom: 15px;
}

.benefits-header p {
    font-size: 18px;
    color: #64748B;
}

.benefits-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.benefit-card {
    width: 340px;
    background-color: white;
    border-radius: 24px;
    padding: 35px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.benefit-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.08);
}

.benefit-icon {
    width: 75px;
    height: 75px;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 22px;
    background-color: #EFF6FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: #2563EB;
}

.benefit-card h3 {
    font-size: 22px;
    color: #0F172A;
    margin-bottom: 15px;
}

.benefit-card p {
    font-size: 16px;
    line-height: 28px;
    color: #64748B;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(60px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* RESPONSIVO */
@media (max-width: 1200px) {
    .arrow {
        display: none;
    }

}

@media (max-width: 700px) {

    .cards-header h2,
    .benefits-header h2 {
        font-size: 32px;
    }

    .card,
    .benefit-card {
        width: 100%;
    }

}